.about-me{
    padding: 50px 80px;
    gap: 32px;
    &.flip{
        align-items: flex-end;
        p{
            text-align: right;
        }
    }
    h2{
        font-size: 24px;
        color: #000000;
        font-weight: 500;
    }
    p{
        color: rgb(119 128 161);
        font-size: 18px;
        line-height: 140%;
    }
    .stats{
        gap: 32px;
        justify-content: space-between;
        .item{
            font-size: 18px;
            font-weight: 500;
            color: rgb(119 128 161);
            gap: 12px;
            align-items: flex-start;
            span{
                font-size: 18px;
                font-weight: 400;
                color: #000000;
            }
        }
    }
}