<section class="about-me d-flex f-column" [class.flip]="direction == 'LTR'">
    <div class="pill">
        ABOUT ME
    </div>
    <h2>Hi! I am Palak Gontiya</h2>
    <p>I'm a frontend engineer at Unstop, specializing in Angular, React, JavaScript, CSS, and TypeScript. I love
        building dynamic, responsive, and user-friendly interfaces that enhance the web experience. With a strong focus
        on performance and clean code, I strive to create seamless and efficient applications.</p>
    <div class="vertical-align stats ">
        <div class="item vertical-align f-column">
            Email
            <span>palakgontiya1998&#64;gmail.com</span>
        </div>
        <div class="item  vertical-align f-column">
            Phone
            <span>9109881998</span>
        </div>
        <div class="item  vertical-align f-column">
            Date Of Birth
            <span>March 28,1998</span>
        </div>
        <div class="item  vertical-align f-column">
            Spoken Languages
            <span>English, Hindi</span>
        </div>
        <div class="item  vertical-align f-column">
            Social Media
            <span>English, Hindi</span>
        </div>
    </div>
</section>