<section class="hero-section d-flex j-between" [class.flip]="direction === 'LTR'">
    <div class="my-visuals vertical-align">
        <div class="bg-text">PALAK GONTIYA</div>
        <img src="./images/newme.jpeg"/>
    </div>
    <div class="who-i-am d-flex f-column">
        <div class="hi-text">Hi! I am Palak Gontiya</div>
        <h1>A Frontend Engineer</h1>
        <p>I'm a Frontend Engineer with 1.2 years of experience in Angular, passionate about building dynamic and responsive web applications.</p>
        <div class="cta vertical-align">
            <button class="cv">Download My CV</button>
            <button class="hire">Hire Me</button>
        </div>

        <div class="vertical-align stats ">
            <div class="item vertical-align f-column">
                2+
                <span>Years Experience</span>
            </div>
            <div class="item  vertical-align f-column">
                5+
                <span>Projcts Done</span>
            </div>
        </div>
    </div>
</section>