*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
.d-flex{
    display: flex;
}
.f-column{
    flex-direction: column;
}
.j-between{
    justify-content: space-between;
    align-items: center;
}
.vertical-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pill {
    padding: 14px 22px;
    background: #984FF4;
    color: #ffffff;
    font-size: 14px; 
    display: inline-flex;
    border-radius: 50px;
    width: auto; 
    max-width: max-content; 
    white-space: nowrap; 
}