<section class="projects vertical-align f-column">
    <div class="pill">PROJECTS</div>
    <h2>Projects I worked on</h2>
    <div class="project-cards d-flex j-between">
        <div class="card d-flex f-column">
            <img src="https://nichol-vuejs.vercel.app/img/services-1.1792ab0f.svg"/>
            <h3>Resume Builder</h3>
            <p>I worked on a Resume Builder project using React, focusing on creating a dynamic and user-friendly interface for generating professional resumes.</p>
        </div>
        <div class="card d-flex f-column">
            <img src="https://nichol-vuejs.vercel.app/img/services-2.fa261fa9.svg"/>
            <h3>Unstop Library</h3>
            <p>I worked on a Resume Builder project using React, focusing on creating a dynamic and user-friendly interface for generating professional resumes.</p>
        </div>
        <div class="card d-flex f-column">
            <img src="https://nichol-vuejs.vercel.app/img/services-3.f809e65c.svg"/>
            <h3>Resume Parser</h3>
            <p>I worked on a Resume parser project using React, focusing on creating a dynamic and user-friendly interface for generating professional resumes.</p>        </div>
    </div>
</section>